<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.cvut.skorpste"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="19"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">
        <activity android:name=".view.ArticleList.ArticleListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.Article.ArticleActivity"
                  android:label="@string/article_detail"
                  android:parentActivityName=".view.ArticleList.ArticleListActivity"/>
        <activity android:name=".view.FeedList.FeedListActivity"
                  android:label="@string/feed_list"
                  android:parentActivityName=".view.ArticleList.ArticleListActivity"/>
        <provider
                android:name=".model.database.ArticleContentProvider"
                android:authorities="cz.cvut.skorpste.rafr"
                android:exported="false"/>
        <service android:name=".model.feeds.FeedService"
                 android:icon="@drawable/ic_launcher"
                android:enabled="true"/>
        <receiver android:name=".model.feeds.ScheduleBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="cz.cvut.skorpste.rafr.SCHEDULE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".model.feeds.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="cz.cvut.skorpste.rafr.RUN" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
